<!DOCTYPE html>
<html>
<title>Hostal Clarita</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-container w3-auto">

    <div class="w3-panel w3-green">
        <h3>Felicidades Registro Exitoso</h3>
        <p>Se ha registrado en hostal Clariya</p>
      </div>
      
      <a href="{% url 'login' %}" class="w3-btn w3-white w3-border w3-round-large">Entrar Hostal Clarita</a>
      
      </body>
      </html>